<div class="container">
  <div class="card">
    <div style="display: flex">
      <div style="width: 100px; margin-left: 500px">
        <button routerLink="/parent">Parent Todos</button>
      </div>
      <div style="width: 100px">
        <button routerLink="/login">Logout</button>
      </div>
    </div>

    <h2 style="color: blue">Child Todos</h2>
    <h4>Add New Child Todo</h4>
    <form>
      <select
        name="parentTodo"
        style="margin-right: 10px"
        [(ngModel)]="parentId"
        (change)="onParentChange()"
      >
        <option *ngFor="let o of parentTodoList" value="{{ o.id }}">
          {{ o.parentName }}
        </option>
      </select>
      <input
        type="text"
        id="todo"
        name="todo"
        placeholder="Todo"
        [(ngModel)]="todo"
        required
        style="width: 300px"
      />
      <button
        *ngIf="!isEdit"
        type="submit"
        style="margin-left: 20px"
        (click)="onAdd()"
      >
        Add
      </button>
      <button
        *ngIf="isEdit"
        type="submit"
        style="margin-left: 20px"
        (click)="onSave()"
      >
        Save
      </button>
      <button
        *ngIf="isEdit"
        type="submit"
        style="margin-left: 20px"
        (click)="isEdit = false; todo = ''"
      >
        Cancel
      </button>
    </form>
  </div>
  <br />
  <br />

  <div class="card">
    <h4>Todo List</h4>
    <ul>
      <li
        *ngFor="let t of todoList"
        id="{{ t.id }}"
        style="display: flex; height: 25px"
      >
        <p
          [ngStyle]="{
            width: '300px',
            'text-decoration': t.isComplete ? 'line-through' : 'none'
          }"
        >
          {{ t.name | titlecase }} ({{
            parentTodoKeyValue[t.todoParentId] | titlecase
          }})
        </p>

        <div style="width: 100px">
          <button *ngIf="!t.isComplete && !isEdit" (click)="toggleStatus(t)">
            Complete
          </button>
          <button *ngIf="t.isComplete && !isEdit" (click)="toggleStatus(t)">
            Incomplete
          </button>
        </div>
        <div style="width: 50px">
          <button *ngIf="!t.isComplete && !isEdit" (click)="onEdit(t)">
            Edit
          </button>
        </div>
        <div style="width: 100px">
          <button *ngIf="!isEdit" (click)="onDelete(t.id)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
</div>
